#abtme{
	background-color: #000047;
}
#abt{

	color: #fff;
}
#quote{
	color: #8fb359;
}
#lead{

	color: #fff;
}

#work{

	background-color: #000047;
}

#portfolio{

	color: #fff;
}

#resume{

	background-color: #8fb359;
}

.white{
	color: #fff;
}